<div class="container">
  <div class="row">
    <h3>Client Items</h3>
    <% u.projects.each do |p| %>
      <div class="col-md-3">
        <h4><%= p.name %></h4>
        <a href="#" class="btn btn-primary">View Invoices</a>
      </div>
    <% end %>
  </div>
</div>