<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Awesome Centrally Managed Invoices</h1>
      <p>Use the same portal for vendors and clients</p>
      <a href="/" class="btn btn-primary">Try It Today</a>
    </div>
  </div>
</div>
