@import "bootstrap-sprockets";

@import "bootstrap";
@import "dashboard";
@import "project_invoices";

.top-5 {
  margin-top: 5px;
}

.top-20 {
  margin-top: 20px;
}

.top-30 {
  margin-top: 30px;
}

.top-40 {
  margin-top: 40px;
}